@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
body{
  background: #000;
}

.img123{
  width: 20px;
  height: 20px;
}

.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #0e0e0e;
  background-image: radial-gradient(#3d3d3d 1px, transparent 1px);
  background-size: 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

.logo {
  width: 110px;
  margin-left: 1%;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 20%;
}

.item {
  color: white;
  font-size: 12px;
  color: #969696;
  height: 50px;
  padding: 0px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.item .chewron {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.item:hover {
  color: #71af3a;
}

.item:first-child:hover {
  background-color: #000000;
  text-shadow: 0px 0px 18px #979797;
}

.item:first-child:hover .more_info {
  display: block;
}

.item:first-child:hover .chewron {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.item:nth-child(3):hover {
  background-color: #000000;
  text-shadow: 0px 0px 18px #979797;
}

.item:nth-child(3):hover .more_info {
  display: block;
}

.item:nth-child(3):hover .chewron {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.item:last-child:hover {
  background-color: #000000;
  text-shadow: 0px 0px 18px #979797;
}

.item:last-child:hover .more_info {
  display: block;
}

.item:last-child:hover .chewron {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.login_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  background-color: transparent;
  border: none;
  color: #969696;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

a{
    color: #969696;
    text-decoration: none;
}

.login:hover {
  color: white;
  text-shadow: 0px 0px 18px #979797;
}

.line {
  width: 2px;
  height: 15px;
  background-color: #969696;
  margin: 0px 7px;
}

.extrabtn {
  background-color: transparent;
  border: none;
  color: #969696;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .8s;
  transition: .8s;
}

.extrabtn img {
  width: 18px;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  margin-right: 10px;
}

.extrabtn:hover {
  background-color: #000000;
  color: white;
  text-shadow: 0px 0px 18px #646464;
}

.order {
  background-color: #71af3a;
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  text-shadow: 0px 0px 15px #000000;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
}



.group0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more_info {
  width: 265px;
  background-color: #222;
  position: absolute;
  top: 50px;
  z-index: 10;
  left: 0px;
  display: none;
}

.more_info_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 0px 30px;
  color: #969696;
  text-shadow: 0px 0px 10px #646464;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 1px 0px;
  padding: 19px 40px;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.more_info_text:hover {
  background-color: #141414;
  color: white;
  text-shadow: 0px 0px 18px #c9c9c9;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #969696;
  border-radius: 50%;
  font-size: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  padding-left: 1px;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.inner_text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.left_div {
  width: 2px;
  height: 15px;
  top: 0px;
  left: 0px;
  background-color: #969696;
  position: absolute;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: .4s;
  transition: .4s;
}

.right_div {
  width: 2px;
  height: 15px;
  top: 0px;
  right: 0px;
  background-color: #969696;
  position: absolute;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: .4s;
  transition: .4s;
}

.main_banner {
  width: 100%;
  height: 77vh;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  padding: 80px 40px;
  background-position: bottom;
  background-image: url("./5-24-ghost-hub-hero-desktop.jpg");
}

.main_part {
  width: 40%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.image_code {
  width: 460px;
  height: 242px;
  -webkit-filter: drop-shadow(0px 0px 4px #4d4d4d);
          filter: drop-shadow(0px 0px 4px #4d4d4d);
}

.forText {
  text-align: center;
}

.textfirst {
  color: white;
  letter-spacing: 1px;
  text-shadow: 0px 0px 8px #c5c5c5;
  font-size: 19px;
  font-weight: 400;
  margin: 15px 0px;
}

.learnWatch {
  width: 200px;
  height: 40px;
  color: #33312f;
  background-color: #e5e3e3;
  border-top: 2px solid #cdc4bd;
  border-bottom: 2px solid #cdc4bd;
  border-left: none;
  border-right: none;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0px 0px 5px #cdc4bd;
  margin: 0px 15px;
}

.first_body {
  width: 100%;
  height: 80vh;
  background-color: gray;
}

.flex_div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}

.date_div {
  width: 100%;
  height: 300px;
  background-image: url("./881561.jpg");
}

.game_pic {
  background-color: orange;
}

.game_pic:first-child {
  display: none;
}
/*# sourceMappingURL=style.css.map */

img{
    width: 120px;
    height: 35px;
}
  
  .flex_div {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: white;
  }
  
  .date_div {
    width: 100%;
    height: 300px;
    background-image: url("./881561.jpg");
  }
  
  .game_pic {
    background-color: orange;
  }
  
  .game_pic:first-child {
    display: none;
  }
  /*# sourceMappingURL=style.css.map */

.div_nav3{
    display: flex;
    margin-left: 138px;
}
.div_n3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #eee7;
}

.divs{
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
}

.login{
    list-style: none;
    color: rgb(131, 129, 129);
    text-decoration: none;
    font-size: 15px;
}
.login:hover{
    color: #fff;
}

.i{
    width: 13px;
    height: 13px;
    margin-left: 9px;
    position: absolute;
}

.div_n4 > button {
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(99, 143, 45);
    color: #fff;
    margin-left: 230px;
    text-shadow: 0 0 10px #000;
    transition: .5s;
    border: none;
}
.div_n4 > button:hover{
    background: rgb(112, 177, 33);
}


.banner{
    width: 100%;
    height: 600px;
    background-image: url("./bannerBG.jpg");
    background-size: cover;
    color: #fff;
}

.banner_img{
    margin-top: 100px;
    margin-left: 50px;
    width: 450px;
    height: 230px;
}

.banner_btn{
    width: 200px;
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 19px;
    color: rgb(59, 59, 59);
    cursor: pointer;
}

.banner_text{
    margin-left: 90px;
    font-weight: normal;
    font-size: 22px;
}
.banner_p{
    font-weight: normal;
    font-size: 22px;
    margin-left: 150px;
}

.supbanner{
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
}

.top{
    width: 1665px;
    height: 50vh;
    /* background-color: bisque; */
    display: flex;
    overflow: hidden;

}

.bottom{
    width: 1665px;
    height: 50vh;
    display: flex;
    overflow: hidden;

}

.left{
    width: 1110px;
    height: 50vh;
    background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/main-tout/2022/06/CDL_2022_Major-IV_Background_desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;

}

.left2{
    width: 555px;
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.left2img{
    width: 443.95px;
    height: 201.95px;
    margin-left: 122px;
    overflow: hidden;

}

.right{
    width: 554px;
    height: 50vh;
    /* background-color: aquamarine; */
    overflow: hidden;
}

.right2{
    width: 555px;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.textright{
    color: #fff;
    padding-left: 50px;
    font-weight: 200;
    overflow: hidden;

}

.rightbutton{
    width: 200px;
    height: 43px;
    margin-left: -25px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 19px;
    color: rgb(59, 59, 59);
    overflow: hidden;
    cursor: pointer;
}

.rightimg{
    width: 554px;
    height: 40vh;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;
}

.rightimg:hover{
    transform: scale(1.07);
    overflow: hidden;

}

.imgbottom{
    display: flex;
    overflow: hidden;
    cursor: pointer;
    
}

.rightimg2{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 5s;
    overflow: hidden;
    cursor: pointer;

}

.righttext{
    color: #fff;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 50;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;

}



.rightbottom{
    width: 554px;
    height: 50vh;
    /* background-color: aquamarine; */
    overflow: hidden;
    cursor: pointer;


}

.righttext2{
    padding-top: 27px;
    padding-left: 40px;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    cursor: pointer;

}

.footerafter{
    width: 100%;
    height: 80vh;
    background-color: black;
}

.navtext{
    color: rgb(159, 152, 145);
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    padding-top: 50px;
}

.Dad{
    width: 1280px;
    height: 395px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.yordam{
    display: flex;
}

.majbur:first-child{
    width: 308px;
    height: 308px;
    background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/wtb-portal/game-title-keyart/mw2/game-select-mw2-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    border: 2px solid rgb(142, 216, 30);
}

.majbur:nth-child(2){
    width: 308px;
    height: 308px;
    background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/wtb-portal/game-title-keyart/vanguard/game-select-vg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    border: 2px solid rgb(90, 76, 37);
}

.majbur:nth-child(3){
    width: 308px;
    height: 308px;
    background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/wtb-portal/game-title-keyart/warzone/game-select-wz3-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    border: 2px solid #fff;
}

.majbur:nth-child(4){
    width: 308px;
    height: 308px;
    background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/wtb-portal/game-title-keyart/cod-mobile/game-select-CODM-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    border: 2px solid rgb(240, 220, 74);

}

.majbur>p{
    color: rgb(164, 157, 150);
    text-align: center;
    padding-top: 250px;
}

.bottomitem{
    width: 633px;
    height: 73px;
    background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/hub/wtb-portal/touts/relevant-touts/current-season/S4-bp-banner-desktop.jpg");
    margin-left: 10px;
    margin-top: 8px;
    border: 2px solid #fff;
}

.bottomitem>p{
    padding-left: 370px;
    color: rgb(164, 157, 150);
    padding-top: 13px;
}

.bottomitem>p>span{
    color: #fff;
}

.p{
    color: #fff;
    padding-left: 210px;
}

.fff{
  position: absolute;
    width: 308px;
    height: 30px;
    background-color: #fff;
    margin-top: 132px;
    margin-left: 448px;
    position: absolute;
    display: flex;
    justify-content: center;
}

footer span{
  font-size: small;
  color: #fff;
}
.p{
  position: absolute;
  margin-left: -80px;
  font-size: 12px;
}
.fff>p{
    color: rgb(136, 29, 29);
    font-weight: 600;
    font-size: 20px;
}

footer{
    width: 100%;
    height: 100vh;
    background: black;
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: medium;
}
.line{
    width: 1px;
    height: 20px;
    background: #ffffff;
}
.line_end{
    position: absolute;
    width: 900px;
    height: .5px;
    background: #fff;
    margin-top: 50px;
}

.black_of_the_line_end_footer{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    margin-left: -920px;
    margin-top: 48px;
}
.black_of_the_line_end_footer_sec{
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin-left: -40px;
    margin-top: 48px;
}
.black_of_the_line_end_footer_thi{
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin-left: 100px;
    margin-top: 48px;
}
.black_of_the_line_end_footer_fou{
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    margin-left: 920px;
    margin-top: 48px;
}

.footer_images_to_game{
    width: auto;
    object-fit: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: -350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.footer_left_images{
    position: absolute;
    margin-top: 130px;
    display: flex;
    object-fit: cover;
    margin-left: 450px;
}

.footer_bottom_text{
    position: absolute;
    margin-top: 350px; 
    font-size: 11px;   
    line-height: 20px;
    color: #fff;
}

.footer_languages img{
    position: absolute;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: .5px;
    margin-left: -401px;
    margin-top: 500px;
}

.footer_bottom_btn2{
    position: absolute;
    width: 180px;
    height: 30px;
    background: #fff;
    margin-left: 100px;
    margin-top: 440px;
    font-size: medium;
    font-weight: normal;
}


.logos{
  position: absolute;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* background: red; */
  margin-left: 270px;
  margin-top: 100px;
}
.logos img{
  width: 100px;
  margin: 10px 20px;
}
.footer_logos{
  position: absolute;
  width: 80%;
  display: flex;
  height: auto;
  margin-left: -200px;
}
.left_logos{
  display: flex;
  margin-left: 700px;
  margin-top: 70px;
}
.left_logos img:first-child{
  transform: scale(.4);
  width: 250px;
  height: 100%;
  margin-top: -20px;

}
.left_logos img:last-child{
  transform: scale(.7);
  width: 400px;
  margin-left: -100px;
  height: 80%;
}



.oxirgirasm{
  margin-left: -363px !important;
}



.line_of_carousel{
  width: 100%;
  height: 1px;
  background: white;
  margin-top: 10px;
}
.line_of_carousel_sec{
  position: absolute;
  width: 60%;
  height: 1px;
  background: white;
  margin-top: 70px;
  margin-left: 20%;
}

.li{
  color: #fff; position: absolute; margin-top: 40px; margin-left: 40px;
}

.li_btn{
  text-transform: capitalize;
  margin-top: -10px;
  border: 2px solid #fff;
}

.la_new{
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
  font-size: medium;
  font-weight: 400;
  padding-left: 40px;
  position: absolute;
  padding-top: 34px;
}

.carousel{
  width: auto;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 30px;
}
.carousel .img{
  width: 700px;
  height: auto;
  margin: 0 40px;
  /* background: red; */
  transform: scale(1.4);
}
.carousel .img img {
  width: 70%;
  height: 100px;
}
.img h6{
  font-weight: 100;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
}
.fa-chevron-right,
.fa-chevron-left{
  color:#fff;
  font-size: 25px;
  margin: 0 20px;
}
.popup{ 
  width: 400px; 
  height: 500px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  z-index: 111; 
  border: 2px solid greenyellow; 
  color:#fff; 
  line-height: 2.2; 
  margin-left: 500px; 
  transform: translateY(-600px); 
  display: none; 
  position: relative; 
  transition: 20s; 
  border-radius: 10px; 
  padding-left: 50px; 
  padding-top: 80px; 
  margin-top: 50px; 
  position: absolute;
} 
.inp{ 
  width: 80%; 
  height: 40px; 
  border: none; 
  outline: none; 
  background: transparent; 
  border-bottom: 2px solid #fff; 
  text-indent: 12px; 
  color:#fff; 
  cursor: text; 
} 
.popup button{ 
  width: 80%; 
  height: 40px; 
  font-size: 18px; 
  color: #fff; 
  margin-top: 40px; 
  background: transparent; 
  transition: .5s; 
  border: 2px solid greenyellow; 
} 
.popup button:hover{ 
  background:greenyellow; 
  color: #000; 
} 
.popup h1{ 
  margin-left: 100px; 
}